<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Balance Sheet</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
  </head>
  <body>
    <div class="icon" onclick="window.location.href='/dashboard'"><h1>MONI<h1></div>
    <h1>Balance Sheet</h1>
    <h2>Here you can make your balance.</h2>
    <p>Set the Filter options for the balance.</p>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <form id="balanceFilter">
      <label>From:</label>
      <label>Up to:</label>
      <label>Type</label>
      <input type="datetime-local" name="start" id="start" required>
      <input type="datetime-local" name="end" id="end" required>
      <select id="type" name="type">
        <option value="output">Output</option>
        <option value="input">Input</option>
      </select>
      <label>Category:</label>
      <label>Item:</label>
      <span class="grid-spacer"></span> 
      <input name="category" id="category">
      <input name="item" id="item">
      <button type="submit">Make Balance</button>
    </form>
    <div id="flow-log-data"
     data-flow-log='{{ flow_log | tojson | safe }}'>
    </div>
    <h2>Balance:</h2>
    <table  id="balance-table">
      <thead>
          <tr>
            {% for key in flow_log[0].keys() %}
              <th style="text-align: center;">{{ key }}</th>
            {% endfor %}
          </tr>
      </thead>
      <tbody id="balance-body">
      </tbody>
      <tfoot>
        <tr>
          {% for key in flow_log[0].keys() %}
              <th></th>
            {% endfor %}
          <th>Summe</th>
        </tr>
      </tfoot>
    </table>
    <script>
    document.getElementById('balanceFilter').addEventListener('submit', function (event) {
      event.preventDefault(); // prevents the actual/real submission/reload
      console.log("Submit-Handler wurde aufgerufen");
      const start = document.getElementById('start').value;
      const end = document.getElementById('end').value;
      const typ = document.getElementById('type').value;
      const cat = document.getElementById('category').value;
      const item = document.getElementById('item').value;
      const elem = document.getElementById("flow-log-data");
      const flow_log = JSON.parse(elem.dataset.flowLog);
      const theadThs = document.querySelectorAll('#balance-table thead th');
      const columns = Array.from(theadThs).map(th => th.textContent.trim());
      const tbody = document.getElementById('balance-body');
      tbody.innerHTML = "";  // alten Inhalt löschen
      flowLogLoop:
      for (const [id, eintrag] of Object.entries(flow_log)) {
        const tr = document.createElement('tr');
        for (const col of columns) {
          if (col === 'type' && eintrag[col] !== typ){
            continue flowLogLoop
          }
          if (cat !=='' && col === 'category' && eintrag[col] !== cat){
            continue flowLogLoop
          }
          if (item !=='' && col === 'item' && eintrag[col] !== item){
            continue flowLogLoop
          }
          const td = document.createElement('td');
          td.style.textAlign = 'center'
          td.textContent = eintrag[col] ?? "";  // falls ein Feld mal fehlt
          tr.appendChild(td);
        }
        tbody.appendChild(tr);
      }
    });
</script>
  </body>
</html>