
<!doctype html>
<html>
  <head>
    <meta http-equiv="refresh" content="10">
    <meta charset="utf-8">
    <title>Issue</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
  </head>
  <body>
    <div class="icon-moni" onclick="window.location.href='/dashboard'"><h1>MONI<h1></div>
    <h1>Issue: {{order['category']}}</h1>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <form method="post" action="/issue">
    <button type="submit" name="action" value="Issue_Last">Reopen Last Issue</button>
    </form>

    <h2>Order number {{ order_key }} for place {{ order['place'] }}:</h2>
    <form method="post" action="/issue">
      <input type="hidden" name="order_key" value="{{ order_key }}">
      <label for="negotiator"> Ordered from:</label>
      <input type="text" value="{{ order['negotiator'] }}" readonly>
      <label for="order-time">Ordred at:</label>
      <input type="text" value="{{ order['ordered'] }}" readonly>
      <label  for="organizer"> Prepared from:</label>
      <input type="text" value="{{ order['organizer'] }}" readonly>
      <label for="order-time">Prepared at:</label>
      <input type="text" value="{{ order['prepared'] }}" readonly>
      <hr id="hrForm">
      <label>Item:</label>
      <label>Quantity:</label>
      <label style="grid-column: 3 / span 2">Custom:</label>
      {% for item in order['items'] %}
          <input type="hidden" name="{{item['item']}}_category" value="{{item['category']}}">
          <input type="text" name="{{item['item']}}_item" value="{{item['item']}}">
          <input type="text" name="{{item['item']}}_quantity" value="{{item['quantity']}}">
          <input style="grid-column: 3 / span 2" type="text" name="{{item['item']}}_custom" value="{{item['custom']}}">
      {% endfor %}
      {% if order_key != 0 %}
        <button type="submit" name="action" value="Issue_Dashboard">Issued Dashboard</button>
        <span class="grid-spacer"></span> 
        <button style="grid-column: 3 / span 2" type="submit" name="action" value="Issue_Next">Issued Next</button>
      {% endif %}
    </form>
    <script>
        var element = document.body;
        if (window.sessionStorage.getItem('Mode') === 'dark') {
          element.classList.toggle("dark-mode");
        }
    </script>
  </body>
</html>