<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Output</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
  </head>
  <body>
    <div class="icon-moni" onclick="window.location.href='/dashboard'"><h1>MONI<h1></div>
    <h1>Output: {{category}}</h1>
    <h2>Here you can sell or give out {{category}}</h2>
    <p>Just touch or click the correstbonding buttons.</p>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <form class="button-grid">
      {% for item_dict in assortment %}
        {% if item_dict['quantity'] > 0 %}
          <button  style="font-size : 24px; width: 200px; height: 100px;" type="button" data-item="{{ item_dict['item'] }}" data-quantity="{{ item_dict['quantity'] }}" data-price="{{ item_dict['price'] }}" onclick="clickButton(this.dataset.item, dataset.quantity, parseFloat(this.dataset.price))">{{item_dict['item']}}<br>{{item_dict['price']}}€</button>
        {% endif %}
      {% endfor %}
    </form>
    <form id="OutputForm" method="post" action="output">
      <label>Item:</label>
      <label>Quantity:</label>
      <label>Price in €:</label>
      <span class="grid-spacer"></span> 
      <hr id="hrForm">
      <span class="grid-spacer"></span> 
      <label>Total in €:</label>
      <input type="text" name="total" value="0" readonly>
      <button type="submit" name="category" value={{category}}>Give Out</button>
    </form>
    {% for order in assigned_order_list %}
      <h2>Order for place {{ order['place'] }}:</h2>
      <form method="post" action="/issue">
        <label  for="negotiator"> Ordered from:</label>
        <input type="text" value="{{ order['negotiator'] }}" readonly>
        <label for="order-time">Ordred at:</label>
        <input type="text" value="{{ order['ordered'] }}" readonly>
        <label  for="issuer"> Issued from:</label>
        <input type="text" value="{{ order['issuer'] }}" readonly>
        <label for="issue-time">Issued at:</label>
        <input type="text" value="{{ order['Issued'] }}" readonly>
        <hr id="hrForm">
        <label>Item:</label>
        <label>Quantity:</label>
        <label style="grid-column: 3 / span 2">Custom:</label>
        {% for item in order['items'] %}
            <input type="text" value="{{item['item']}}">
            <input type="text" value="{{item['quantity']}}">
            <input style="grid-column: 3 / span 2" type="text" value="{{item['custom']}}">
        {% endfor %}
        <button type="submit" name="action" value="Issue">Issued</button>
      </form>
    {% endfor %}
    <script>
      var element = document.body;
      if (window.sessionStorage.getItem('Mode') === 'dark') {
        element.classList.toggle("dark-mode");
      }
      
    function clickButton(name, max_quantity, pricePerUnit) {
      const form = document.getElementById('OutputForm');
      // Versuche, ein bestehendes hidden-Input mit diesem Namen zu finden
      let item = document.querySelector(`input[name="${name}_item"]`);
      let quantity = document.querySelector(`input[name="${name}_quantity"]`);
      let price    = document.querySelector(`input[name="${name}_price"]`);
      let total = document.querySelector(`input[name="total"]`);

      // Falls es noch nicht existiert, anlegen
      if (!item) {
        item = document.createElement('input');
        item.name = `${name}_item`
        item.value = name;
        quantity = document.createElement('input');
        quantity.type = 'number';
        quantity.name = `${name}_quantity`;  
        quantity.value = "0";
        quantity.min = "1";
        quantity.max = max_quantity;
        quantity.step = "1";
        price = document.createElement('input');
        price.type = 'text';
        price.name = `${name}_price`;  
        price.value = "0";
        price.readOnly = true;
        const gridSpacer = document.createElement('span');
        gridSpacer.className = 'grid-spacer';
        form.insertBefore(item, hrForm)
        form.insertBefore(quantity, hrForm)
        form.insertBefore(price, hrForm)
        form.insertBefore(gridSpacer, hrForm);
        // Kopplung nur einmal einrichten:
        let isUpdating = false;

        quantity.addEventListener('input', () => {
          if (isUpdating) return;
          isUpdating = true;
          const q = parseFloat(quantity.value);
          price.value = isNaN(q) ? '' : (q * pricePerUnit).toFixed(2);
          
          let sum = 0;
          const priceFields = document.querySelectorAll(('input[name*="price"]'));
          priceFields.forEach(p => {
            const v = Number(p.value);
            if (!isNaN(v)) {
              sum += v;
            }
          });
          total.value = sum.toFixed(2)

          isUpdating = false;
        });
      }
      // Wert erhöhen
      const current = parseInt(quantity.value || "0", 10);
      quantity.value = Math.min(current + 1, parseInt(max_quantity));

      const q = parseFloat(quantity.value);
      price.value = isNaN(q) ? '' : (q * pricePerUnit).toFixed(2);

      let sum = 0;
      const priceFields = document.querySelectorAll(('input[name*="price"]'));
      priceFields.forEach(p => {
        const v = Number(p.value);
        if (!isNaN(v)) {
          sum += v;
        }
      });
      total.value = sum.toFixed(2)
    }
    </script>
  </body>
</html>


