/* Grundschrift */
body {
  font-family: "Noto Sans", Arial, sans-serif;
  padding: 2rem;
  background: #f7f7f7;
  color: #222;
}

body.dark-mode {
  background: #222;
  color: #f7f7f7;
}

/* Formular-Layout mit Grid */
form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem 1rem;
  align-items: center;
  width: fit-content;
  min-width: 5rem;
  /*max-width: 420px;*/
  background: #fff;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

form.place-grid{
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5dvw 0.5dvw
}

form.button-grid{
  gap: 0.5rem 0.5rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* Labels linksbündig */
form label {
  justify-self: center;
}

form hr {
  grid-column: 1 / -1; 
  border: none;
  border-top: 1px solid #222; /* dünne graue Linie */
  margin: 1.5rem 0;           /* Abstand nach oben/unten */
}

body.dark-mode form{
  background: #808080;
}
/* Eingabefelder */
input {
  width: 100%;
  padding: 0.5dvw;
  box-sizing: border-box;
  text-align: center;
  font-size: 1rem;
}

body.dark-mode input{
  background: #404040;
  color: #f7f7f7;
}

button {
  font-size: 1rem;
  padding: 0.5dvw;
}

table { 
    border-collapse: collapse; 
    width: 60%; 
}

th, td { 
    border: 1px solid #808080; 
    padding: 0.5rem; 
}

th { 
    background-color: #f0f0f0; 
    text-align: left; 
}

body.dark-mode th {
  background-color: #404040;
}

/* Fehleranzeige */
.error {
  color: red;
  grid-column: 1 / -1;
}

.icon-moni { 
  position: fixed; 
  top: 1rem; 
  right: 1rem; 
  z-index: 1000; 
  background: #00a817; 
  color: #fff; 
  padding: 0.6rem 1rem; 
  border-radius: 0.4rem; 
}

.icon-dark { 
  position: fixed; 
  bottom: 1rem; 
  right: 1rem; 
  z-index: 999; 
  background: #404040; 
  color: #fff; 
  padding: 0.6rem 1rem; 
  border-radius: 0.4rem; 
}

.time-date-clock {
  font-size: 2rem;
  position: absolute; 
  top: 1rem; 
  right:10rem; 
  z-index: 1000; 
}

/* noto-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v42-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@media print {
  tfoot {
    display: table-footer-group;
  }
  
  .icon-moni {
    display: none;
  }
}