<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="{{ request.url_for('static', path='css/style.css') }}">
  </head>
  <body>
    <div class="icon-moni" onclick="window.location.href='/dashboard'"><h1>MONI<h1></div>
    <h1>Input</h1>
    <h2>Here you can add items to your inventory.</h2>
    <p>What do you want to add?</p>
    {% if error %}<p class="error">{{ error }}</p>{% endif %}
    <form method="post" action="/input">
      <label for="category">Category:</label>
      <label for="item">Item:</label>
      <label for="quantity">Quantity:</label>
      <span class="grid-spacer"></span> 
      <input id="category" name="category" list="cat_opions" required>
      <datalist id="cat_opions">
        {% for category in inventory.keys() %}
          <option value="{{ category }}"></option>
        {% endfor %}
      </datalist>
      <input id="item" name="item" list="item_options" required>
      <datalist id="item_options">
        {% for category in inventory.values() %}
          {% for item in category %}
            <option value="{{ item['item'] }}"></option>
          {% endfor %}
        {% endfor %}
      </datalist>
      <input id="quantity" name="quantity" type="number" min="-4096" max="4096" step="1" value="0" required>
      <button type="submit">Add</button>
    </form>
  </body>
  <script>
      var element = document.body;
      if (window.sessionStorage.getItem('Mode') === 'dark') {
        element.classList.toggle("dark-mode");
      }
  </script>
</html>